.Button {
  font-family: Fira Sans;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0.5px solid #000;
  padding: 0.5rem 0.75rem;
  user-select: none;
}

.Button:hover,
.Button:focus {
  background-color: var(--color-primary);
  border-color: var(--transparent);
  color: var(--color-light);
}

label.Button {
  display: block;
}

.Link {
  border: none;
  background: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: Fira Sans;
  cursor: pointer;
  text-decoration: inherit;
  padding: 0;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.Card {
  font-size: 1rem;
  font-family: 'Fira Sans';
  background: #EFEFEF;
  border: none;
  color: var(--color-dark);
  cursor: pointer;
  width: 9rem;
  height: 5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  white-space: normal;
} 
.Card:hover {
  background-color: var(--color-primary);
  border-color: var(--transparent);
  color: var(--color-light);
}