.Button {
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0.5px solid #000;
  padding: 0.5rem 0.75rem;
  user-select: none;
}

label.Button {
  display: block;
}

.Link {
  border: none;
  background: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  text-decoration: inherit;
  padding: 0;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}