.Card {
  background-color: #fff;
  border: 2px solid #000;
  width: 40rem;
  height: 22rem;
  padding: 1em 2.5em;
}

.rounded {
  width: 40rem;
  height: 25rem;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 2.5px 5px 15px rgba(0, 0, 0, 0.25);
}

.dashed {
  border-width: 3px;
  border-style: dashed;
}

.transparent {
  background: transparent;
}
