.Quiz {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.QuizPanel {
  display: flex;
  height: 100%;
  margin: 0;
}

.title {
  padding: 0.75em 0;
}

.QuitButton {
  color: white;
  font-size: 1.875rem;
  text-decoration: none;
  width: 100%;
}

.QuitButton > input:hover {
  text-decoration: underline;
}