.VerticalLayout {
  flex-flow: column nowrap;
  display: flex;
  margin: 0 auto;
  height: 100%;
}

.VerticalLayout > * {
  margin: 0.5rem 0;
}

.VerticalLayout:first-child {
  margin-top: 0;
}

.VerticalLayout:last-child {
  margin-bottom: 0;
}

.vcenter {
  justify-content: center;
}

.hcenter {
  align-items: center;
}

.middle {
  align-items: center;
  justify-content: center;
}
