.VerticalLayout {
  flex-flow: column nowrap;
  display: flex;
  margin: 0 auto;
  height: 100%;
}

.VerticalLayout > .child {
  padding: 0.75em 0;
}

.VerticalLayout > .child:first-of-type {
  padding-top: 0;
}

.VerticalLayout > .child:last-of-type {
  padding-bottom: 0;
}

.vcenter {
  justify-content: center;
}

.hcenter {
  align-items: center;
}

.middle {
  align-items: center;
  justify-content: center;
}
